/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__z79Af {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.pagination_button__mmIYN {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination_button__mmIYN:disabled {
    cursor: not-allowed;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/products/products.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.products_container__dcei4 {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.products_top__UiqRb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products_addButton__xZA7u {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products_table__hfYUX {
    width: 100%;
}

.products_table__hfYUX td {
    padding: 10px;
}

.products_product__DWNHS {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products_productImage__g7vBm {
    border-radius: 50%;
    object-fit: cover;
}

.products_buttons__JQahx {
    display: flex;
    gap: 10px;
}

.products_button__In6RE {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.products_view__hKrXe {
    background-color: teal;
}

.products_delete__xLEfi {
    background-color: crimson;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__pwfnY {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.search_input__7H5gs {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}
