/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.card_container__zeh_1 {
    display: flex;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}

.card_container__zeh_1:hover {
    background-color: #2e374a;
}

.card_texts__ZzqpX {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_number__V4Nr_ {
    font-size: 24px;
    font-weight: 500;
}

.card_details__DghWz {
    font-size: 14px;
    font-weight: 300;
}

.card_positive__6lLoJ {
    color: lime;
}

.card_negative__mM_i7 {
    color: red;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/chart/chart.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.chart_container__0GDDE {
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.chart_title__ekfbz {
    color: var(--textSoft);
    font-weight: 200;
    margin-bottom: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/transaction/transactions.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.transactions_container__lComX {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.transactions_title__D6NdU {
    color: var(--textSoft);
    font-weight: 200;
    margin-bottom: 20px;
}

.transactions_table__cSTZz {
    width: 100%;
}

.transactions_table__cSTZz td {
    padding: 10px;
}

.transactions_user___bApi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.transactions_userImage__jf4fd {
    border-radius: 50%;
    object-fit: cover;
}

.transactions_status__mggem {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.transactions_pending__MJSEL {
    background-color: #f7cb7375;
}

.transactions_done__ayXSX {
    background-color: #afd6ee75;
}

.transactions_cancelled__bbV_l {
    background-color: #f7737375;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dashboard/rightbar/rightbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.rightbar_container__OC_4w {
    position: fixed;
}

.rightbar_item__lkWVs {
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.rightbar_bgContainer__norXn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

.rightbar_bg__dIIST {
    object-fit: contain;
    opacity: 0.2;
}

.rightbar_text__W8yFg {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rightbar_notifications__La09A {
    font-weight: bold;
}

.rightbar_title__LHqza {
    font-weight: 500;
    font-size: 12px;
    color: var(--textSoft);
}

.rightbar_button__PswL7 {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #5d57c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}
